[submodule "module/freertos"]
	path = module/freertos
	url = git@gitlab.metropolia.fi:lansk/rp2040-freertos.git
[submodule "module/pico-sdk"]
	path = module/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "module/freertos-kernel"]
	path = module/freertos-kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
